    <script src="assets/js/libs/jquery-3.4.1.min.js"></script>
    <script src="assets/js/libs/popper.min.js"></script>
    <script src="assets/js/libs/bootstrap.js"></script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

</body>
</html>