<!--

<img src="uploads/profile/{$username}/{$image}" alt="" style="width: 54px;border-radius: 100%;float: right;"/> 

-->
<div class="image2">
    <img src="uploads/profile/{$username}/cover/{$cover}" alt="" style="width:100%;" />
    </div>
<div class="shadow overflow">
  <div id="header"></div>
  <div id="profile">
    <div class="image">
    <img src="uploads/profile/{$username}/{$image}" alt="" style="width:300px" />
    </div>
    <div class="name">
     {$first_name} {$last_name}
    </div>
    <div class="nickname">
      @{$username}
    </div>
    <div class="location">
    <i class="material-icons">place: </i>Europe (Static)
    </div>
    <div class="name">Bio : 
     {$aboutme}
    </div>  
      
      
    <div class="bottom">
    <span class="following">
      <span class="count">170</span>
      following
      </span>
      <span class="followers">
        <span class="count">1M</span>
        followers
      </span>
    </div>
  </div>
</div>
        <a href='follow?username={$theyusername}&do=follow'>follow</a>
        <a href='follow?username={$theyusername}&do=unfollow'>Unfollow</a>

<script type="text/javascript">
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>