<!--

<img src="uploads/profile/{$username}/{$image}" alt="" style="width: 54px;border-radius: 100%;float: right;"/> 

-->

<div class="body__user-profile">
	<div class="user-profile__cover-view">
		<div class="cover-view__cover-bg">
			<img src="uploads/profile/{$username}/cover/{$cover}">
		</div>

		<div class="cover-view__profile-card">
			<div class="avatar-block">
				<img src="uploads/profile/{$username}/{$image}">
			</div>
			<p>{$first_name} {$last_name} ({$username})</p>
			<p>{$aboutme}</p>
		</div>
	</div>
</div>









{*
	[KM 1] Style Wall
	cover: https://bootsnipp.com/snippets/gmg6e
*}
<div class="profile-wall-style" style="margin-top: 30px;">
 <!-- /.col-md-12 -->
<div class="col-md-4 col-sm-12 float-right">
	<div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="page-header small">Personal Details</h1>
		<p class="page-subtitle small">Limited information is visible</p>
		</div>
		<div class="col-md-12 photolist">
		<div class="row">
			<div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
			<div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
			<div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
			<div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
		</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="page-header small">Worked with many domain</h1>
		<p class="page-subtitle small">Like to work fr different business</p>
		</div>
		<div class="col-md-12">
		<ul class="list-group">
			<li class="list-group-item"><span class="fa fa-male"></span> Worked with 1000+ people</li>
			<li class="list-group-item"><span class="fa fa-institution"></span> 60+ offices</li>
			<li class="list-group-item"><span class="fa fa-user"></span> 50000+ satify customers</li>
			<li class="list-group-item"><span class="fa fa-clock-o"></span> Work hours many and many still counting</li>
			<li class="list-group-item"><span class="fa fa-heart"></span> Customer satisfaction for servics</li>
		</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="page-header small">What others are saying </h1>
		<p class="page-subtitle small">Express your self, Express to other</p>
		</div>
		<div class="col-md-12">
		<div class="media">
			<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
			<div class="media-body">
			<h4 class="media-heading">Lucky Sans</h4>
			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </div>
		</div>
		<div class="media">
			<div class="media-left"> <a href="javascript:void(0)"> 
			<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
			<div class="media-body">
			<h4 class="media-heading">John Doe</h4>
			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </div>
		</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="page-header small">Recently Connected</h1>
		<p class="page-subtitle small">You have recemtly connected with 34 friends</p>
		</div>
		<div class="col-md-12">
		<div class="memberblock"> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
			<div class="memmbername">Ajay Sriram</div>
			</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			<div class="memmbername">Rajesh Sriram</div>
			</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			<div class="memmbername">Manish Sriram</div>
			</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			<div class="memmbername">Chandra Amin</div>
			</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			<div class="memmbername">John Sriram</div>
			</a> <a href="" class="member"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
			<div class="memmbername">Lincoln Sriram</div>
			</a> </div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="col-md-8 col-sm-12 float-left posttimeline">
<div class="panel panel-default">
	<div class="panel-body">
	<div class="status-upload nopaddingbtm">
		<form>
		<textarea class="form-control" placeholder="What are you doing right now?"></textarea>
		<br>
		<ul class="nav nav-pills pull-left ">
			<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
			<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class=" glyphicon glyphicon-facetime-video"></i></a></li>
			<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="glyphicon glyphicon-picture"></i></a></li>
		</ul>
		<button type="submit" class="btn btn-success pull-right"> Share</button>
		</form>
	</div>
	<!-- Status Upload  --> 
	</div>
</div>
<div class="panel panel-default">
	<div class="btn-group pull-right postbtn">
	<button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a href="javascript:void(0)">Hide this</a></li>
		<li><a href="javascript:void(0)">Report</a></li>
	</ul>
	</div>
	<div class="col-md-12">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading">Lucky Sans<br>
			<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>

		<ul class="nav nav-pills pull-left ">
			<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
			<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
			<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
		</ul>
		</div>
	</div>
	</div>
	<div class="col-md-12 commentsblock border-top">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading">Astha Smith</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		</div>
	</div>
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading">Lucky Sans</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
		<div class="media">
			<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object"> </a> </div>
			<div class="media-body">
			<h4 class="media-heading">Astha Smith</h4>
			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="btn-group pull-right postbtn">
	<button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a href="javascript:void(0)">Hide this</a></li>
		<li><a href="javascript:void(0)">Report</a></li>
	</ul>
	</div>
	<div class="col-md-12">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading"> Lucky Sans<br>
			<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>
		<ul class="nav nav-pills pull-left ">
			<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
			<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
			<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
		</ul>
		</div>
	</div>
	</div>
	<div class="col-md-12 border-top">
	<div class="status-upload">
		<form>
		<label>Comment</label>
		<textarea class="form-control" placeholder="Comment here"></textarea>
		<br>
		<ul class="nav nav-pills pull-left ">
			<li><a title=""><i class="glyphicon glyphicon-bullhorn"></i></a></li>
			<li><a title=""><i class=" glyphicon glyphicon-facetime-video"></i></a></li>
			<li><a title=""><i class="glyphicon glyphicon-picture"></i></a></li>
		</ul>
		<button type="submit" class="btn btn-success pull-right"> Comment</button>
		</form>
	</div>
	<!-- Status Upload  --> 
	
	</div>
</div>
<div class="panel panel-default">
	<div class="btn-group pull-right postbtn">
	<button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a href="javascript:void(0)">Hide this</a></li>
		<li><a href="javascript:void(0)">Report</a></li>
	</ul>
	</div>
	<div class="col-md-12">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading"> Lucky Sans<br>
			<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>
		<ul class="nav nav-pills pull-left ">
			<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
			<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
			<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
		</ul>
		</div>
	</div>
	</div>
	<div class="col-md-12 commentsblock border-top">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading">Astha Smith</h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
		<div class="media">
			<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="media-object"> </a> </div>
			<div class="media-body">
			<h4 class="media-heading">Nested Lucky Sans</h4>
			<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="btn-group pull-right postbtn">
	<button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a href="javascript:void(0)">Hide this</a></li>
		<li><a href="javascript:void(0)">Report</a></li>
	</ul>
	</div>
	<div class="col-md-12">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading"> Lucky Sans<br>
			<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>
		<ul class="nav nav-pills pull-left ">
			<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
			<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
			<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
		</ul>
		</div>
	</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="btn-group pull-right postbtn">
	<button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a href="javascript:void(0)">Hide this</a></li>
		<li><a href="javascript:void(0)">Report</a></li>
	</ul>
	</div>
	<div class="col-md-12">
	<div class="media">
		<div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
		<div class="media-body">
		<h4 class="media-heading"> Lucky Sans<br>
			<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>
		<ul class="nav nav-pills pull-left ">
			<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
			<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
			<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
		</ul>
		</div>
	</div>
	</div>
</div>
</div>
</div>

</div>


















{* <div class="image2">
    <img src="uploads/profile/{$username}/cover/{$cover}" alt="" style="width:100%;" />
</div>

<div class="shadow overflow">
  <div id="header"></div>
  <div id="profile">
    <div class="image">
    	<img src="uploads/profile/{$username}/{$image}" alt="" style="width:300px" />
    </div>
    <div class="name">
     	{$first_name} {$last_name}
    </div>
    <div class="nickname">
     	@{$username}
    </div>
    <div class="location">
    	<i class="material-icons">place: </i>Europe (Static)
    </div>
    <div class="name">Bio : 
     	{$aboutme}
    </div>  
      
    <div class="bottom">
		<span class="following">
			<span class="count">170</span>
				following
			</span>

			<span class="followers">
				<span class="count">1M</span>
				followers
			</span>
		</span>
  	</div>
</div> *}

