.sidenav-left {
    width: 75px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #222;

    .logo {
        width: 100%;
    }

    .global-menu {
        margin-top: 200px;
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;

        &:hover {
            color: #f1f1f1;
        }
    }
}

.sidenav-right {
    width: 75px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #222;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 20px 0px 20px 12.5px;
            position: relative;
            cursor: pointer;

            &:hover {
                .remove-source {
                    display: block;
                }
            }
        }
    }

    .remove-source {
        display: none;
        width: 20px;
        height: 20px;

        position: absolute;
        top: 3px;
        right: 6px;
        
        background-color: #fff;
        font-size: 12px;
        color: #828282;

        line-height: 18px;
        border-radius: 20px;
        text-align: center;
    }

    .add-source {
        display: block;
        
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;

        cursor: pointer;

        font-size: 64px;
        line-height: 47px;
        color: #383838;
        border-radius: 100px;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: #383838;
            line-height: 35px;
        }
    }

    img.img-source {
        width: 50px;
        height: 50px;

        margin: 0;
        padding: 0;

        border-radius: 100px;
    }
}

.main-container {
    width: 100%;

    // Change padding-left which is depence with class
    padding: 20px 95px 0px 95px;
}

.navbar.news-feed-account-bar {
    background-color: #fff !important;
    box-shadow: 0px 3px 4px 2px #eee;
    border-color: #eee;
    margin-bottom: 25px;

    & > * {
        color: #000;
    }

    a {
        color: #81818 !important;
    }
}


@import "profile.less";